



body{
    margin: 20%;
    text-align: center;
    background-color: rgb(4, 175, 135);


}
h1{
    text-align: center;
    margin: 18px;
    color:black;
    background: fixed;
    
}

.play{
    background: fixed;
    background-color: blanchedalmond; 
    margin: 10px;
    padding: 5;
    color: black;
    
}

.button {

    background: fixed;
    background-color: blanchedalmond;
    color: black;
    padding: 7px;




}